<table border=1>
  <tr>
    <th>
      Username
    </th>
    <th>
      Score
    </th>
    <th>
      Average Score
    </th>
  </tr>
  <ul><% @users.sort{ |a,b| b.count_cheers <=> a.count_cheers }.each do |user|%>
  <tr>
    <td align="center"><%= link_to user.username, user %></td>
    <td align="center"><%= user.count_cheers %></td>
    <td align="center"><%= user.average_cheers_per_goal %>
    </td>
  </tr>
<% end %>
</table>